.projects{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    margin-top: 10rem;
}

.projects__article{
    width: 95%;
    height: 90vh;
    background: white;
    border-radius: 2rem;
    transition: 0.3s all;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}


.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    transition: 0.5s all;
    filter: blur(5px);
}

.projects__img:hover{
    filter: blur(0px);
}


.projects__h2{
    font-size: 5rem;
    position: absolute;
    bottom: 80%;
    left: 5%;
    color: black;
}

.projects__p{
    position: absolute;
    bottom: 75%;
    left: 5%;
    color: black;
}

.projects__button{
    position: absolute;
    bottom: 65%;
    left: 5%;
    color: white;
    border: none;
    width: 20rem;
    height: 4.5rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    background: rgb(159, 43, 43);
    transition: 0.2s all;
}

.projects__button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}